*, ::after, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary : #F7D142;
}
body{
    box-sizing: border-box;
    margin: 0;
}
.containeur{
    margin-left: 2%;
  }
.home_bg{
    background-image: url(img/georgie-cobbs-muOHbrFGEQY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.home__title{
    font-size: 2.5rem;  
    color: white;
    display: block;
    width: 100%;
    position: absolute;
    top: 520px;
    font-family: 'Montserrat', sans-serif;
}
.home__title--quote{
    display: block; 
    color: white; 
    font-size: 2.5rem; 
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 570px;
}
h2{
    font-family: 'Merriweather', serif;
    color: var(--primary);
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4d4c49;
    margin-bottom: 0.6rem;
}
.skill__section{
    margin-left: 0.9rem;
}
.skill__section--title{
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
.fa-check-circle{
    color: var(--primary);
}
.skill__section--exerpt{
    margin-bottom: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.progress_bar{
    margin-bottom: 0.5rem;
    /* display: flex; */
    margin: auto;
}
/* .progress_bar>p{
    text-align: center;
    margin-bottom: 0.5rem;
} */
.progress__bg--color{
    width: 80%;
    height: 20px;
    background-color: rgb(206, 206, 179);
    border-radius: 50px;
    /* margin: auto; */
}
.progress_color--html{
    width: 90%;
    animation: ease-in 1000ms;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50px;
    z-index: 1;
}
.progress_color--php{
    width: 85%;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50px;
    z-index: 1;
}.progress_color--symfony{
    width: 85%;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50px;
    z-index: 1;
}.progress_color--mysql{
    width: 80%;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50px;
    z-index: 1;
}
.progress_color--js{
    width: 80%;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50px;
    z-index: 1;
}.progress_color--react{
    width: 85%;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50px;
    z-index: 1;
}
progress[value]{
    background-color: rgb(218, 221, 181);
    color: yellow;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.exp_section{
    margin-left: 0.9rem;
}
.exp_section--title{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-arrow-alt-circle-right{
    color: var(--primary);
}

/* Projects section */

.project__box{
    margin: 0 auto;
}

.project__title{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.card{
    margin-right: 30px;
    width: 220px;
    height: 220px;
}
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}
.is-flipped{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}
.card__face--front{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__face--front h2{
    color: white;
    font-size: 2rem;
}
.card__face--back{
    background: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.card__content{
    width: 100%;
    height: 100%;
}
.scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 275px;
    padding: 1rem;
}
.scrolling-wrapper > .card{
    flex: 0 0 auto;
    margin-right: 20px;
}

.showtrack{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/showtrack.png) center no-repeat;
    background-size: cover;
}
.wordpress{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/wordpress.png) center no-repeat;
    background-size: cover;
}
.portfolio{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/cv-portfolio.png) center no-repeat;
    background-size: cover;
}
.weather-app{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/weather-app.png) center no-repeat;
    background-size: cover;
}
.calculator{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/calculator.png) center no-repeat;
    background-size: cover;
}
.todo-list{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/todo-list.png) center no-repeat;
    background-size: cover;
}
.quote-generator{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/chuck-Norris.png) center no-repeat;
    background-size: cover;
}
.humans-first{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/hf_cap.png) center no-repeat;
    background-size: cover;
}
.linkSite{
    font-size: 0.9rem;
    background-color: var(--primary);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 30px;
    display: block;
    width: 64%;
    margin: 0.3rem auto;
    color: black;
}
.linkGithub{
    font-size: 0.9rem;
    background-color: black;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 30px;
    display: block;
    width: 64%;
    margin: 0.3rem auto;
    color: var(--primary);
}
.contact__section{
    background-color: var(--primary);
}
.contact__form{
    display: flex;
    justify-content: center;
}
label{
    color: white;
}
input{
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
}
textarea{
    resize: none;
    border-radius: 20px;
}

.contact__form--content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.contact__form--button{
    margin: 15px;
    border-radius: 10px;
    background-color: #4d4c49;
    color: var(--primary);
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 2px white;
    font-weight: 700;
    transition-duration: 500ms;
}
.contact__form--button:hover{
    background-color: rgb(255, 255, 255);
    color: var(--primary);
}
.contact__form--button:hover{
    scale: (0.9);
}

@media screen and (min-width : 800px) {
    /* .skill__section{
        margin: 2.5rem;
    } */
    .skill__section--block{
        width: 80%;
        margin: 0 auto;
    }
    .skill__section--progress{
        width: 80%;
        margin: 0 auto;
    }
    /* .exp_section{
        width: 76%;
        margin: 0 auto;
    } */
}
@media screen and (min-width : 850px){
    .exp__list{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (min-width : 1200px){
    .skill__section{
        display: flex;
        justify-content: space-around;
    }
    .skill__section--block{
        width: 30%;
    }
    .skill__section--progress{
        width: 30%;
    }
    .home__title{
        font-size: 4rem;
        font-weight: 700;
    }
    .home__title--quote{
        font-size: 4rem;
        top: 575px;
        font-weight: 700;
    }
}
@media screen and (min-width : 1500px){
    .skill__section{
        margin-left: 8rem;
    }
    .home__title{
        color: black;
    }
    .home__title--quote{
        color: black;
    }
}
